<p id="notice"><%= notice %></p>

<h1>Excecaos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @excecaos.each do |excecao| %>
      <tr>
        <td><%= excecao.data %></td>
        <td><%= excecao.hora %></td>
        <td><%= link_to 'Show', excecao %></td>
        <td><%= link_to 'Edit', edit_excecao_path(excecao) %></td>
        <td><%= link_to 'Destroy', excecao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excecao', new_excecao_path %>
