<%= form_with(model: parametro, local: true) do |form| %>
  <% if parametro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parametro.errors.count, "error") %> prohibited this parametro from being saved:</h2>

      <ul>
      <% parametro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :param_tipo %>
    <%= form.text_field :param_tipo %>
  </div>

  <div class="field">
    <%= form.label :param_nome %>
    <%= form.text_field :param_nome %>
  </div>

  <div class="field">
    <%= form.label :req_id %>
    <%= form.text_field :req_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
