<p id="notice"><%= notice %></p>

<p>
  <strong>Obj text:</strong>
  <%= @objsessao.obj_text %>
</p>

<p>
  <strong>Sessao:</strong>
  <%= @objsessao.sessao %>
</p>

<%= link_to 'Edit', edit_objsessao_path(@objsessao) %> |
<%= link_to 'Back', objsessaos_path %>
